
/*global*/
a{
    text-decoration: none;
}
h2{
    color: #0062e3;
}
h3{
    color:#ff7b59;
}
h4{
    color:#111236;
    font-weight: bold;
}
.afficher-sur-mobile,.hidden{
    display: none;
}
.afficher-sur-pc{
    display: flex;
}
/*menu*/

.menu{
    width: 100%;
    height: 5rem;
    background-color: white;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu-title{
    color: #0062e3;
    font-weight: bolder;
    font-size: 2rem;   
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
}
ul li{
    width: 9rem;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    color:#0062e3;
    font-weight: bold;
    justify-content: center;
    font-size: 1.2rem;
}

/*accueil*/
.titre-accueil{
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px #0062e3;
}
.search-aeroport-background{
    background-image: url(../images/background-vacances.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 469px;
    aspect-ratio: 16 / 9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 0.7;
}
.form-accueil:hover{
    opacity:1;
}
.input-form-accueil{
    width: 20rem;
    
}
.bi-search{
    position: absolute;
    fill: #0062e3;
    top: 0.7rem;
    left: 17rem;
}
.form-accueil-input-icon{
    position: relative;
}
.btn-form-accueil{
    width: 10rem;
    background-color: #0062e3;
    text-align: center;
    color:white;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.container-aeroports{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-aeroport{
    background-color: #f1f2f8;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: row;
    color: #084eb2;
    gap: 2rem;
    border-radius: 0.5rem;
    height: 3rem;
    align-items: center;
    width: 20rem;
    padding-left: 1rem;
}
.bi-airplane-fill{
    fill: #084eb2;
}
/*vols*/
.search-vols-background{
    background-image: url(../images/background_vols.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 469px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    margin: 5rem;
}
.form-vols-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#02122c ;
    border-radius: 1rem;
    color:white;
    padding-left: 3rem;
    padding-right: 3rem;
}
.form-vols{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.input-form{
    width: 98% !important;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.cards-vols{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.card-vol{
    display: flex;
    flex-direction: column;
}
.informations-vol{
    display: flex;
    flex-direction:row;
    gap: 3.5rem;
    position: relative;
}

.information-vol-aller,.information-vol-retour{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #f1f2f8;
    padding: 1rem;
    border-radius: 0.5rem;
}
.infos{
    color:#084eb2;
    font-weight: bold;
}
.btn-form-vol{
    width: 10rem;
    background-color: #00887d;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}
.bi-arrow-down-up{
    transform: rotate(90deg);
    height: 6rem;
    fill: #084eb2;
    position: absolute;
    top: 4.5rem;
    left: 22rem;
}
.dot,.dot-menu {
    height: 5px;
    width: 5px;
    background-color: #084eb2;
    border-radius: 50%;
    display: inline-block;
}
.infos-en-savoir-plus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}
.infos-titre-aller,.infos-titre-retour{
    display: flex;
    flex-direction: row;
}
.infos-titre-aller svg{
    transform: rotate(80deg);
    width: 5rem;
    height: 2rem;
}
.infos-titre-retour svg{
    transform: rotate(100deg);
    width: 5rem;
    height: 2rem;
}
.bi-heart-fill{
    position: absolute;
    width: 2rem;
    right: -0.5rem;
    top: -0.7rem;
    fill:#ee62a2;
    cursor: pointer;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:#02122c;
    color: white;
    width: 100%;
    height: 8rem;
    padding-top: 1rem;
}
